__pycache__/run_local.cpython-37.pyc
__pycache__/train.cpython-37.pyc
container_files/__pycache__/__init__.cpython-37.pyc
runs/Nov01_14-59-30_Sojourn/events.out.tfevents.1635803970.Sojourn.13152.0
runs/Nov01_15-35-24_Sojourn/events.out.tfevents.1635806124.Sojourn.12348.0
runs/Nov01_15-36-44_Sojourn/events.out.tfevents.1635806204.Sojourn.29152.0
runs/Nov01_15-50-38_Sojourn/events.out.tfevents.1635807038.Sojourn.13916.0
runs/Nov01_15-50-38_Sojourn/projector_config.pbtxt
runs/Nov01_15-50-38_Sojourn/00000/default/tensors.tsv
runs/Nov16_15-45-58_Sojourn/events.out.tfevents.1637095558.Sojourn.19064.0
runs/Nov16_15-45-58_Sojourn/projector_config.pbtxt
runs/Nov16_15-45-58_Sojourn/00000/default/tensors.tsv
runs/Nov16_19-25-32_Sojourn/events.out.tfevents.1637108732.Sojourn.4324.0
runs/Nov16_19-25-32_Sojourn/projector_config.pbtxt
runs/Nov16_19-25-32_Sojourn/00000/default/tensors.tsv
runs/Nov16_19-30-57_Sojourn/events.out.tfevents.1637109057.Sojourn.3304.0
runs/Nov16_19-30-57_Sojourn/projector_config.pbtxt
runs/Nov16_19-30-57_Sojourn/00000/default/tensors.tsv
runs/Nov16_19-43-52_Sojourn/events.out.tfevents.1637109832.Sojourn.6136.0
runs/Nov16_19-43-52_Sojourn/projector_config.pbtxt
runs/Nov16_19-43-52_Sojourn/00000/default/tensors.tsv
runs/Nov16_20-22-58_Sojourn/events.out.tfevents.1637112178.Sojourn.14360.0
runs/Nov16_20-22-58_Sojourn/projector_config.pbtxt
runs/Nov16_20-22-58_Sojourn/00000/default/tensors.tsv
runs/Oct29_00-25-42_Sojourn/events.out.tfevents.1635492342.Sojourn.10088.0
runs/Oct29_00-28-12_Sojourn/events.out.tfevents.1635492492.Sojourn.4896.0
runs/Oct29_00-29-23_Sojourn/events.out.tfevents.1635492563.Sojourn.20704.0
runs/Oct29_00-29-23_Sojourn/projector_config.pbtxt
runs/Oct29_00-29-23_Sojourn/00000/default/tensors.tsv
runs/Oct29_00-43-07_Sojourn/events.out.tfevents.1635493387.Sojourn.29220.0
runs/Oct29_00-43-07_Sojourn/projector_config.pbtxt
runs/Oct29_00-43-07_Sojourn/00000/default/tensors.tsv
runs/Oct29_00-57-41_Sojourn/events.out.tfevents.1635494261.Sojourn.23204.0
runs/Oct29_00-57-41_Sojourn/projector_config.pbtxt
runs/Oct29_00-57-41_Sojourn/00000/default/tensors.tsv
runs/Oct29_01-00-59_Sojourn/events.out.tfevents.1635494459.Sojourn.6768.0
runs/Oct29_01-00-59_Sojourn/projector_config.pbtxt
runs/Oct29_01-00-59_Sojourn/00000/default/tensors.tsv
runs/Oct29_01-03-58_Sojourn/events.out.tfevents.1635494638.Sojourn.15076.0
runs/Oct29_01-03-58_Sojourn/projector_config.pbtxt
runs/Oct29_01-03-58_Sojourn/00000/default/tensors.tsv
runs/Oct29_01-31-23_Sojourn/events.out.tfevents.1635496283.Sojourn.21652.0
runs/Oct29_01-31-23_Sojourn/projector_config.pbtxt
runs/Oct29_01-31-23_Sojourn/00000/default/tensors.tsv
runs/Oct29_12-53-00_Sojourn/events.out.tfevents.1635537180.Sojourn.20632.0
runs/Oct29_15-21-38_Sojourn/events.out.tfevents.1635546098.Sojourn.29160.0
runs/Oct29_15-25-52_Sojourn/events.out.tfevents.1635546352.Sojourn.16740.0
runs/Oct30_14-41-29_Sojourn/events.out.tfevents.1635630089.Sojourn.19588.0
runs/Oct30_14-41-29_Sojourn/projector_config.pbtxt
runs/Oct30_14-41-29_Sojourn/00000/default/tensors.tsv
interfaces/__pycache__/adapters_azureml.cpython-37.pyc
interfaces/__pycache__/adapters_pytorch_bert.cpython-37.pyc
domain/__pycache__/gng.cpython-37.pyc
__pycache__/run_local.cpython-37.pyc
__pycache__/run_local.cpython-37.pyc
__pycache__/run_local.cpython-37.pyc
